.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 200px;
    background-color: black;
    padding-top: 20px;
    border-radius: 10px;
    transition: width 0.5s ease,
        opacity 0.5s ease-in-out;

    .button {
        position: absolute;
        top: 0;
        right: -40px;
        width: 40px;
        height: 40px;
        background-color: #333;
        border: none;
        border-radius: 0 10px 10px 0;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: right 0.3s ease;
    }

    .button:hover {
        background-color: #555;
    }

    .dots-container {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 20px;
        margin-left: 5px;
        visibility: hidden;
        transition: visibility 0.1s ease;
    }

    .dot {
        position: relative;
        width: 8px;
        height: 8px;
        margin: 5px;

        &::before,
        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }

        &:nth-child(1) {
            &::before {
                background-color: rgb(213, 0, 0);
            }
        }

        &:nth-child(2) {
            &::before {
                background-color: rgb(222, 214, 0);
            }
        }

        &:nth-child(3) {
            &::before {
                background-color: rgb(4, 206, 31);
            }
        }
    }

    .logo-image {
        width: 30px;
        height: 30px;
        margin-left: 15px;
        visibility: hidden;
        transition: visibility 0.1s ease;
    }

    .sidebar-title,
    .route-title {
        font-family: Arial, sans-serif;
        border-radius: 15px;
        padding: 5px 10px;
        opacity: 0;
        transition: opacity 0.1s ease;
    }

    .profile-section {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: 10px;
        padding: 10px;
        position: relative;
        bottom: -60px;
    }

    .profile-section img {
        width: 17px;
        height: 17px;
        cursor: pointer;
    }


    .route-item_1 {
        top: 60px;
        position: relative;
    }

    div.route-item,
    div.route-item_1 {
        cursor: pointer;
        transition: background-color 0.3s ease;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: 10px;
        padding: 10px;
    }

    div.route-item:hover,
    div.route-item_1:hover {
        background-color: #525ae3;
        border-radius: 10px;
    }

    &.opened {
        width: 200px;

        .dots-container,
        .logo-image,
        .sidebar-title,
        .route-title {
            visibility: visible;
            opacity: 1;
        }
    }

    &.closed {
        width: 60px;

        .dots-container,
        .logo-image {
            visibility: visible;
        }
    }
}